/* The parent of the input - made to look like a text field */
.theme-flat-ui {
    background-color: #fff;
    border: 2px solid #BDC3C7;
    border-radius: 6px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #34495E;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 38px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-overflow: ellipsis;
    transition: border .25s ease-in-out, color .25s ease-in-out, background-color .25s ease-in-out;
    vertical-align: top;
    white-space: nowrap;
    width: 350px;
}


/* The actual input - made opaque but styled so the cursor positions well */
.theme-flat-ui input[type="file"] {
    border: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: inherit;
    height: 100%;
    line-height: 32px;
    left: 0;
    margin: 0;
    opacity: 0;
    outline: none;
    padding: 0 5px;
    position: absolute;
    top: 0;
    width: 100%;
}
/*
 * This makes the cursor appear nicely within the field when you tab into it in IE10/IE11
 * (target IE10/11 but not 9 - http://www.impressivewebs.com/ie10-css-hacks/)
 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .theme-flat-ui input[type="file"] {
        line-height: normal;
    }
}


/* The field value */
.theme-flat-ui[data-ffi-value]:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    content: attr(data-ffi-value);
    display: block;
    font-style: normal;
    overflow: hidden;
    padding: 0 7px;
    text-overflow: ellipsis;
    z-index: -1;
}


/* The "browse" button */
.theme-flat-ui:before {
    background: #1ABC9C;
    border-left: 2px solid #1ABC9C;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    content: attr(data-ffi-button-text);
    float: right;
    line-height: 38px;
    margin: 0;
    padding: 0 15px;
    transition: border .25s ease-in-out, color .25s ease-in-out, background-color .25s ease-in-out;
    white-space: nowrap;
}

/* various states for interaction */
.theme-flat-ui:hover:before {
    background: #48C9B0;
    border-color: #48C9B0;
    color: #fff;
}
.theme-flat-ui:active:before,
.theme-flat-ui:active:hover:before,
.theme-flat-ui:focus:before,
.theme-flat-ui:focus:hover:before {
    background: #16A085;
}
.theme-flat-ui:active:before,
.theme-flat-ui:active:hover:before {
    border-color: #16A085;
    box-shadow: none;
}

/* focused */
.theme-flat-ui.is-focused {
    border-color: #1ABC9C;
    box-shadow: none;
    outline: none;
}
.theme-flat-ui.is-focused:before {
    border-color: #1ABC9C;
}
.theme-flat-ui.is-invalid {
    border-color: #E74C3C;
}
.theme-flat-ui.is-invalid.is-focused {
    box-shadow: none;
}
.theme-flat-ui.is-invalid:before {
    background: #E74C3C;
    border-color: #E74C3C;
}
.theme-flat-ui.is-invalid.is-active:before {
    background: #C44133;
    border-color: #C44133;
}
.theme-flat-ui.is-invalid[data-ffi-value]:after {
    color: #E74C3C;
}
.theme-flat-ui.is-valid {
    border-color: #2ECC71;
}
.theme-flat-ui.is-valid.is-focused {
    box-shadow: none;
}
.theme-flat-ui.is-valid:before {
    background: #2ECC71;
    border-color: #2ECC71;
}
.theme-flat-ui.is-valid[data-ffi-value]:after {
    color: #2ECC71;
}

/* disabled */
.theme-flat-ui.is-disabled {
    background: #F4F6F6;
    color: #D5DBDB;
}
.theme-flat-ui.is-disabled:hover {
    background: #F4F6F6;
    border-color: #BDC3C7;
}
.theme-flat-ui.is-disabled:before {
    background: #BDC3C7;
    color: rgba(255, 255, 255, 0.75);
    opacity: .7;
    filter: alpha(opacity=70);
}
.theme-flat-ui.is-disabled:hover:before,
.theme-flat-ui.is-disabled:active:before,
.theme-flat-ui.is-disabled:active:hover:before,
.theme-flat-ui.is-disabled:focus:before,
.theme-flat-ui.is-disabled:focus:hover:before {
    background: #BDC3C7;
    border-color: #BDC3C7;
    box-shadow: none;
}
.theme-flat-ui.is-disabled:hover:before {
    color: rgba(255, 255, 255, 0.75);
}


/* The clear field button */
.theme-flat-ui > .ffi-clear {
    background: url(../dist/clear.svg) no-repeat 0 0;
    border: none;
    color: #333;
    cursor: pointer;
    float: right;
    height: 16px;
    line-height: 16px;
    margin: 11px;
    opacity: 0.56;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
    text-indent: 999em;
    white-space: nowrap;
    width: 16px;
}
.theme-flat-ui > .ffi-clear:hover {
    opacity: 1;
}


@media all and (max-width : 500px) {
    .theme-flat-ui {
        height: 42px;
    }
    .theme-flat-ui[data-ffi-value] {
        height: 84px;
    }
    .theme-flat-ui {
        width: 100%;
    }
    .theme-flat-ui:before {
        border-left: none;
        border-top: 2px solid #BDC3C7;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        text-align: center;
        width: auto !important;
    }
    .theme-flat-ui[data-ffi-value]:before {
        border-top: 2px solid #BDC3C7;
    }
}