/* The parent of the input - made to look like a text field */
.theme-bootstrap {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #555;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 32px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-overflow: ellipsis;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    vertical-align: top;
    white-space: nowrap;
    width: 350px;
}


/* The actual input - made opaque but styled so the cursor positions well */
.theme-bootstrap input[type="file"] {
    border: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: inherit;
    height: 100%;
    line-height: 32px;
    left: 0;
    margin: 0;
    opacity: 0;
    outline: none;
    padding: 0 5px;
    position: absolute;
    top: 0;
    width: 100%;
}
/*
 * This makes the cursor appear nicely within the field when you tab into it in IE10/IE11
 * (target IE10/11 but not 9 - http://www.impressivewebs.com/ie10-css-hacks/)
 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .theme-bootstrap input[type="file"] {
        line-height: normal;
    }
}


/* The field value */
.theme-bootstrap[data-ffi-value]:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    content: attr(data-ffi-value);
    display: block;
    font-style: normal;
    overflow: hidden;
    padding: 0 7px;
    text-overflow: ellipsis;
    z-index: -1;
}


/* The "browse" button */
.theme-bootstrap:before {
    background: #fff;
    border-left: 1px solid #ccc;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    content: attr(data-ffi-button-text);
    float: right;
    line-height: 32px;
    margin: 0;
    padding: 0 12px;
    white-space: nowrap;
}

/* various states for interaction */
.theme-bootstrap:hover {
    border-color: #ADADAD;
}
.theme-bootstrap:hover:before {
    background: #ebebeb;
    border-color: #ADADAD;
}
.theme-bootstrap:active:before,
.theme-bootstrap:active:hover:before,
.theme-bootstrap:focus:before,
.theme-bootstrap:focus:hover:before {
    background: #EBEBEB;
    border-color: #ADADAD;
}
.theme-bootstrap:active:before,
.theme-bootstrap:active:hover:before {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* focused */
.theme-bootstrap.is-focused {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
    outline: none;
}
.theme-bootstrap.is-invalid {
    border-color: #B94A48;
}
.theme-bootstrap.is-invalid.is-focused {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #D59392;
}
.theme-bootstrap.is-valid {
    border-color: #468847;
}
.theme-bootstrap.is-valid.is-focused {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ABA7B;
}

/* disabled */
.theme-bootstrap.is-disabled {
    background: #EEE;
}
.theme-bootstrap.is-disabled:hover {
    background: #EEE;
    border-color: #ccc;
}
.theme-bootstrap.is-disabled:before {
    opacity: .65;
    filter: alpha(opacity=65);
}
.theme-bootstrap.is-disabled:hover:before,
.theme-bootstrap.is-disabled:active:before,
.theme-bootstrap.is-disabled:active:hover:before,
.theme-bootstrap.is-disabled:focus:before,
.theme-bootstrap.is-disabled:focus:hover:before {
    background: #fff;
    border-color: #ccc;
    box-shadow: none;
}
.theme-bootstrap.is-disabled:hover:before {
    color: #999;
}


/* The clear field button */
.theme-bootstrap > .ffi-clear {
    background: url(../dist/clear.svg) no-repeat 0 0;
    border: none;
    color: #333;
    cursor: pointer;
    float: right;
    height: 16px;
    line-height: 16px;
    margin: 8px;
    opacity: 0.56;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
    text-indent: 999em;
    white-space: nowrap;
    width: 16px;
}
.theme-bootstrap > .ffi-clear:hover {
    opacity: 1;
}


@media all and (max-width : 500px) {
    .theme-bootstrap {
        height: 34px;
        width: 100%;
    }
    .theme-bootstrap[data-ffi-value] {
        height: 68px;
    }
    .theme-bootstrap:before {
        border-left: none;
        border-top: 1px solid #ccc;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        text-align: center;
        width: auto !important;
    }
    .theme-bootstrap[data-ffi-value]:before {
        border-top: 1px solid #ccc;
    }
}