@import url(_theme.less);

// Private vars calculated from theme vars
@_line-height: @ffi-field-height - (@ffi-field-border-width * 2);

/* The parent of the input - made to look like a text field */
.ffi {
    background-color: @ffi-field-bg-colour;
    border: @ffi-field-border-width solid @ffi-field-border-color;
    border-radius: @ffi-field-border-radius;
    box-shadow: @ffi-field-box-shadow;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: @ffi-field-text-color;
    display: inline-block;
    font-size: @ffi-field-font-size;
    line-height: @_line-height;
    margin: 0;
    max-width: @ffi-field-default-width;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;

    /* The actual input - made opaque but styled so the cursor positions well */
    input[type="file"] {
        border: none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: inherit;
        height: 100%;
        line-height: @_line-height;
        left: 0;
        margin: 0;
        opacity: 0;
        outline: none;
        padding: 0 @ffi-field-horizontal-padding;
        position: absolute;
        top: 0;
        width: 100%;

        &:hover {
            cursor: pointer;
        }
        &[disabled] {
            cursor: not-allowed;
        }
    }

    // The field value
    &[data-ffi-value]:after {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: @ffi-value-text-color;
        content: attr(data-ffi-value);
        display: block;
        font-style: normal;
        overflow: hidden;
        padding: 0 @ffi-field-horizontal-padding;
        text-overflow: ellipsis;
        z-index: -1;
    }

    // The "browse" button
    &:before {
        background: @ffi-button-bg-color;
        border-left: @ffi-button-border-width solid @ffi-button-border-color;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: @ffi-button-text-color;
        content: attr(data-ffi-button-text);
        cursor: pointer;
        float: right;
        line-height: @_line-height;
        margin: 0;
        padding: 0 @ffi-button-horizontal-padding;
        white-space: nowrap;
    }
    &:hover:before {
        background: @ffi-button-bg-color-hover;
        color: @ffi-button-text-color-hover;
    }
    &:active {
        &:before,
        &:hover:before {
            // styles for the button when it becomes "pressed"
        }
    }

    // focusing the field
    &.is-focused {
        border-color: #707070;
        outline: none;
    }

    // disabled field
    &.is-disabled {
        background-color: #eee;
        &:before {
            border-color: #ccc;
            color: #707070;
        }
        &:hover:before,
        &:active:before,
        &:active:hover:before {
            background: #eee;
            box-shadow: none;
        }
        &:hover:before {
            color: #707070;
        }
    }
}

/* The clear field button */
.ffi-clear {
    background: url(clear.svg) no-repeat 0 0;
    border: none;
    color: #333;
    cursor: pointer;
    float: right;
    height: 16px;
    line-height: 16px;
    margin: 6px;
    opacity: 0.56;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
    text-indent: 999em;
    white-space: nowrap;
    width: 16px;
    &:hover {
        opacity: 1;
    }
}

/*
 * This makes the cursor appear nicely within the field when you tab into it in IE10/IE11
 * (target IE10/11 but not 9 - http://www.impressivewebs.com/ie10-css-hacks/)
 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ffi input[type="file"] {
        line-height: normal;
    }
}